* {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

.main-drawer {
    border: none;
}

.main-drawer .mdl-menu__container {
    z-index: -1;
}

.main-drawer .main-navigation {
    z-index: -2;
}

.main-drawer .mdl-menu .mdl-menu__item {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.main-drawer-header {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 16px;
    height: 100px;
    font-size: 24px;
    text-align: center;
}

.mdl-layout__drawer-button {
    color: #009688 !important;
}

.main-navigation {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.home-layout .main-navigation .mdl-navigation__link {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.56);
    font-weight: 500;
}

.home-layout .main-navigation .mdl-navigation__link:hover {
    background-color: #00605a;
}

.main-navigation .mdl-navigation__link .material-icons {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.56);
    margin-right: 32px;
}

.main-content {
    max-width: 1080px;
}

#username-label {
    margin-right: 10px;
}
