.classes-container {
    display: -webkit-inline-box;
}

.chart-container {
    padding: 20px;
}

#empty-attendance-text {
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: 100px;
    text-align: center;
    font-size: 20px;
}
