<!--<link href="/Content/Home/Classes.css" />-->
<h4>{{className}}</h4>
<div>
    <div style="margin-bottom: 20px;">
        <div style="width: 200px; margin-right: 25px;" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input id="add-student-textfield" class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?">
            <label class="mdl-textfield__label" for="sample4">Student CWID</label>
            <span class="mdl-textfield__error">Input is not a number!</span>
        </div>
        <button ng-click="addStudentButtonClicked()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Add Student</button>
    </div>
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
            <tr>
                <th>CWID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th class="mdl-data-table__cell--non-numeric"></th>
            </tr>
        </thead>
        <tr ng-repeat="student in class">
            <td>{{student.StudentID}}</td>
            <td>{{student.StudentFirstName}}</td>
            <td>{{student.StudentLastName}}</td>
            <td>{{student.StudentEmail}}</td>
            <td><button ng-click="removeStudentButtonClicked(student.StudentID)" type="button" class="mdl-button mdl-js-button mdl-button--icon"><i class="material-icons mdl-color-text--red-500">remove_circle</i></button></td>
        </tr>
    </table>
</div>
