#add-qr-button {
    position: fixed;
    right: 40px;
    bottom: 40px;
}

#empty-qr-text {
    position: absolute;
    width: 100%;
    right: 0px;
    top: 15%;
    text-align: center;
    font-size: 20px;
}

.modal-time-picker {
    display: inline-block;
}

.modal-time-picker-outer {
    display: grid;
}

.modal-time-picker-inner {
    margin-left: auto;
    margin-right: auto;
}

#qr-module {
    margin-right: 70px !important;
    margin-left: 70px !important;
}
