#video-placeholder {
	height: 400px;
	width: 600px;
	background: #000;
	color: #FFF;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#app-about {
	font-size: 18px;
	font-weight: 700;
	line-height: 30px;
	border-left-style: solid;
	border-color: #bbdefb;
	border-width: 10px;
	margin-left: 10px;
	padding-left: 10px;
	padding-right: 30px;
}
