html * {
	font-family: sans-serif;
}

body {
	background: #F4F4F4;
}

headerbar {
	height: 70px;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	padding-left: 60px;
	padding-right: 60px;
	background: #FFF;
}

.title-holder {
	width: 250px;
	margin-top: 24px;
	float: left;
}

.title-text {
	font-weight: 700;
	font-size: 22px;
	color: #4f4f4f;
}

.menu-list, .menu-list > li, .menu-list li > a {
	height: 70px;
}

.menu-list {
	padding: 0px;
	margin-top: 0px;
	float: right;
}

.menu-list > li {
	float: left;
	list-style: none;
	background: #FFF;
	padding-left: 5px;
	padding-right: 5px;
}

.menu-list > li:hover {
	background: #FFF;
	color: #4f4f4f;
}

.page-menu-item {
	font-size: 18px;
	font-weight: 700;
	text-decoration: none;
	color: #4f4f4f;
	display: inline-block;
	padding-top: 22px;
	width: 100%;
	text-align: center;
}

.page-menu-item:visited, .page-menu-item:active {
	color: #4f4f4f;
}

.page-menu-item:hover {
	color: #000;
}

maincontent {
	top: 70px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	position: fixed;
}

.content-header {
	width: 100%;
	height: 130px;
	display: block;
	color: #fff;
	text-align: center;
	background-color: #159957;
	background-image: linear-gradient(120deg, #155799, #159957);
}

.content-body {
	padding: 60px;
	background: #FFF;
	left: 0px;
	right: 0px;
	/*top: 70px;
	bottom: 0px;
	left: 0px;
	right: 0px;*/
}
