<main class="mdl-layout__content mdl-color--grey-100">
    <div class="mdl-grid">
        <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-grid">
            <div class="main-container-spacing mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="username-input"/>
                <label class="mdl-textfield__label" for="username-input">Username</label>
            </div>
            <div class="main-container-spacing mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="password" id="password-input" />
                <label class="mdl-textfield__label" for="password-input">Password</label>
            </div>
            <a href="/Home" id="login-button" class="main-container-spacing mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color-text--white">Login</a>
        </div>
    </div>
</main>
