@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Content/Login/_LoginLayout.css" rel="stylesheet" />
}


@RenderSection("scripts", required: false)

<main class="mdl-layout__content mdl-color--grey-100">
    <div class="mdl-grid">
        <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-grid">
            <div class="mdl-color--teal mdl-color-text--white" id="header">
                AttendanceTracker
            </div>
            @RenderBody()
        </div>
    </div>
</main>