@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.PageName = "Classes";
    <link href="~/Content/Home/Classes.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/Scripts/Classes.js"></script>
}

<div ng-app="ClassesModule" class="mdl-grid">
    <div class="mdl-grid" ng-controller="ClassesController as classesController">
        <div ng-if="classesController.classes.length == 0" id="empty-classes-text" class="mdl-color-text--grey-600">You teach no classes.</div>
        <div ng-repeat="class in classesController.classes" class="class-container mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
            <div class="mdl-card__title mdl-card--expand mdl-color--primary">
                <h2 class="mdl-card__title-text mdl-color-text--white">{{class.name}}</h2>
            </div>
            <div class="chart-container">
                <canvas build-chart="{{class}}" class="class-chart"></canvas>
            </div>
        </div>
        <button ng-click="classesController.editClassButtonClicked()" id="edit-classes-button" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
            <i class="material-icons">edit</i>
        </button>
        <body>
            <dialog class="mdl-dialog">
                <div class="mdl-dialog__content">
                    <div class="page {{ pageClass }}" ng-view></div>
                </div>
                <div class="mdl-dialog__actions">
                    <button ng-click="classesController.dialog.close()" type="button" class="mdl-button close">Close</button>
                </div>
            </dialog>
        </body>
    </div>
</div>