@{
    ViewBag.PageName = "Home";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    <link href="~/Content/Home/Index.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/Scripts/Index.js"></script>
}

<div ng-app="HomeModule" class="mdl-grid">
    <div ng-controller="HomeController as homeController" class="mdl-grid">
        <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
            <div class="mdl-card__title mdl-card--expand mdl-color--primary">
                <h2 class="mdl-card__title-text mdl-color-text--white">Percentage of Attendance to Date</h2>
            </div>
            <div class="classes-container mdl-card mdl-cell--12-col mdl-cell">
                <div ng-repeat="attendanceData in homeController.classAttendedPercentages" class="class-card mdl-card mdl-cell mdl-shadow--2dp">
                    <div class="mdl-card__title mdl-card--expand mdl-color--white">
                        <h2 class="mdl-card__title-text mdl-color-text--grey-600">{{attendanceData.className}}</h2>
                    </div>
                    <div class="graph-container mdl-cell mdl-cell--12-col">
                        <canvas build-chart="{{attendanceData.percentage}}" width="200" height="200"></canvas>
                    </div>
                </div>
            </div>

        </div>
        <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
            <div class="mdl-card__title mdl-card--expand mdl-color--primary">
                <h2 class="mdl-card__title-text mdl-color-text--white">Combined Attendance</h2>
            </div>
            <div class="chart-container">
                <canvas id="attendance-chart" class="class-chart"></canvas>
            </div>
        </div>
    </div>
</div>
