@{
    ViewBag.PageName = "QR Codes";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    <link href="~/Content/Home/QRCodes.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/Scripts/getmdl-select.min.js"></script>
    <script src="~/Scripts/QRCodes.js"></script>
}

<div ng-app="QRCodesModule" class="mdl-grid">
    <div class="mdl-grid" ng-controller="QRCodesController as qrCodesController">
        <div ng-repeat="qrData in qrCodesController.qrCodeData" class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-desktop">
            <div class="mdl-card__title mdl-card--expand mdl-color--primary">
                <h2 class="mdl-card__title-text mdl-color-text--white">{{qrData.ClassName}}</h2>
            </div>
            <div class="mdl-card__subtitle-text mdl-cell mdl-cell--12-col">
                Starts {{qrData.StartDate}}
            </div>
            <div class="mdl-card__subtitle-text mdl-cell mdl-cell--12-col">
                Expires {{qrData.EndDate}}
            </div>
            <div class="QR-container mdl-card__actions mdl-card--border">
                <img class="mdl-color-text--accent mdl-cell mdl-cell--12-col" src="data:image/png;base64,{{qrData.ImageData}}">
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a href="#" class="mdl-color-text--accent mdl-button mdl-js-button mdl-js-ripple-effect"><i class="mdl-color-text--accent material-icons" role="presentation">save_alt</i></a>
                <a href="#" class="mdl-color-text--accent mdl-button mdl-js-button mdl-js-ripple-effect"><i class="mdl-color-text--accent material-icons" role="presentation">edit</i></a>
            </div>
        </div>

        <button ng-click="qrCodesController.addQRCodeButtonClicked()" id="add-qr-button" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
            <i class="material-icons">add</i>
        </button>

        <body>
            <dialog class="mdl-dialog">
                <div class="mdl-dialog__content">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select">
                        <input type="text" value="" class="mdl-textfield__input" id="class-select" readonly>
                        <input type="hidden" value="" name="class-select">
                        <label for="class-select" class="mdl-textfield__label">Class</label>
                        <ul for="class-select" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                            <li ng-repeat="class in qrCodesController.classData" class="mdl-menu__item" data-val="{{class.ID}}">{{class.Name}}</li>
                        </ul>
                    </div>
                </div>
                <div class="mdl-dialog__actions">
                    <button ng-click="qrCodesController.addModalButtonClicked()" type="button" class="mdl-button">Create</button>
                    <button ng-click="qrCodesController.dialog.close()" type="button" class="mdl-button close">Cancel</button>
                </div>
            </dialog>
        </body>

        <div id="toast-container" class="mdl-js-snackbar mdl-snackbar">
            <div class="mdl-snackbar__text"></div>
            <button class="mdl-snackbar__action" type="button"></button>
        </div>

    </div>
</div>