<body>
    <h4>Your Classes</h4>
    <div style="margin-bottom: 20px;">
        <div style="width: 200px; margin-right: 25px;" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input id="add-class-textfield" class="mdl-textfield__input" type="text">
            <label class="mdl-textfield__label" for="sample4">Class Name</label>
        </div>
        <button ng-click="addClassButtonClicked()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Add Class</button>
    </div>
    <div class="mdl-list">
        <div ng-repeat="c in classData" class="mdl-list__item">
            <span class="mdl-list__item-primary-content">{{c.Name}}</span>
            <button ng-click="removeClassButtonClicked(c.ID)" type="button" class="mdl-button mdl-js-button mdl-button--icon"><i class="material-icons mdl-color-text--red-500">remove_circle</i></button>
            <a href="#!students/{{c.ID}}/{{c.Name}}" type="button" class="mdl-button mdl-js-button mdl-button--icon"><i class="material-icons mdl-color-text--accent">edit</i></a>
        </div>
    </div>
</body>