<body>
    <dialog id="qr-modal" class="mdl-dialog">
        <div class="mdl-dialog__content">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select">
                <input type="text" value="" class="mdl-textfield__input" id="class-select" readonly>
                <input type="hidden" value="" name="class-select">
                <label for="class-select" class="mdl-textfield__label">Class</label>
                <ul for="class-select" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
                    <li ng-repeat="class in qrCodesController.classData" class="mdl-menu__item" data-val="{{class.ID}}">{{class.Name}}</li>
                </ul>
            </div>
        </div>
        <div class="mdl-dialog__actions">
            <button ng-click="qrCodesController.addModalButtonClicked()" type="button" class="mdl-button">Create</button>
            <button ng-click="qrCodesController.dialog.close()" type="button" class="mdl-button close">Cancel</button>
        </div>
    </dialog>
</body>